<div *ngIf="feed != undefined">
  <div class="flex items-center gap-4 w-full">
    <div class="flex flex-col gap-4">
      <img src={{feed.image}} alt={{feed.name}} class="w-52">
    </div>
    <div class="flex flex-col gap-2 w-full">
      <div class="flex w-full justify-between">
        <div class="flex gap-4 items-center">
          <h1 class="text-3xl">{{ feed.name }}</h1>
          <div *ngIf="user != undefined">
            <button *ngIf="!followed" (click)="follow()">Follow</button>
            <button *ngIf="followed" (click)="unfollow()">Unfollow</button>
          </div>
        </div>
        <a [href]="feed.url" target="_blank">RSS</a>
      </div>
      <div class="flex gap-4">
        <a *ngFor="let category of feed.categories" [routerLink]="['/category', category.id]" class="bg-sky-100 p-1 rounded-lg">{{ category.title }}</a>
      </div>
      <p [innerHTML]="feed.description"></p>
    </div>
  </div>
  <div class="flex gap-4 mt-4">

  <div class="flex">
    <span>Sort:</span>
    <select [(ngModel)]="order" (change)="loadPosts()" class="p-1 rounded-lg ml-2">
      <option value="{{OrderEnum.desc}}" selected="selected">Newest</option>
      <option value="{{OrderEnum.asc}}">Oldest</option>
    </select>
  </div>
  <div class="flex">
    <span>Filter:</span>
    <select [(ngModel)]="unviewed" (change)="loadPosts()" class="p-1 rounded-lg ml-2">
      <option value="false" selected="selected">All</option>
      <option value="true">Unviewed</option>
    </select>
  </div>
  </div>
  <div *ngIf="posts.length > 0  && posts[0].feed_id == feed.id">
    <div *ngFor="let post of posts">
      <app-posts *ngIf="post.feed_id == feed.id"[post]="post"></app-posts>
    </div>
    <button (click)="loadMore(feed.id)" class="text-lg">Load more</button>
  </div>
</div>
