
<button (click)="clear()">Clear</button>
<div #container class="p-1 -m-1">
  <div *ngFor="let post of queue; let i = index" class="flex flex-row queue-item" id="{{i}}" draggable="true" #queueItem>
    <div class="flex flex-col items-center gap-4 justify-center">
      <app-move-icon class="cursor-move"></app-move-icon>
      <app-close-icon (click)="remove(i)" class="cursor-pointer"></app-close-icon>
    </div>
    <app-posts [hovered]="i == draggedOver" [post]="post" class="w-full"></app-posts>
  </div>
</div>
