<div class="flex w-full gap-4 items-center justify-end md:justify-center  p-2 bg-gray-200 dark:bg-gray-600">
  <div *ngIf="!hidden"  class="flex gap-4 flex-col sm:flex-row justify-center items-center bg-gray-200 dark:bg-gray-600">
    <app-search></app-search>
    <a [routerLink]="['/explore']">Explore</a>
    <a [routerLink]="['/home']" *ngIf="user != undefined">Library</a>
    <a [routerLink]="['/queue']">Queue</a>
    <a [routerLink]="['/login']" *ngIf="user == undefined">Login</a>
    <a [routerLink]="['/account']" *ngIf="user != undefined">Account</a>
    <app-dark-mode></app-dark-mode>
    <!--<app-add-feed></app-add-feed>-->
  </div>
  <div class="self-start sm:hidden">
    <app-hamburger-icon (click)="toggleNav()" ></app-hamburger-icon>
    <!--<app-close-icon (click)="toggleNav()" [class.hidden]="!hidden" ></app-close-icon>-->
  </div>
</div>
