<div *ngFor="let item of allFeeds">
  <div (click)="selectFeed(item.id)" [ngClass]="{'sticky top-0' : posts.length > 0 && posts[0].feed_id == item.id}" class="flex items-center bg-gray-200 p-2">
    <img src={{item.image}} alt={{item.name}} class="w-20 h-20">
    <h2 class="ml-2">{{ item.name }}</h2>
  </div>

  <div *ngIf="posts.length > 0  && posts[0].feed_id == item.id">
    <div *ngFor="let post of posts">
      <app-posts *ngIf="post.feed_id == item.id"[post]="post"></app-posts>
    </div>
    <button (click)="loadMore(item.id)">Load more</button>
  </div>
</div>

