<div class="flex flex-col justify-center items-center gap-4">
  <label class="text-center"> Username
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" class="p-1 rounded-lg bg-gray-200 dark:bg-gray-600 outline-none">
  </label>

  <label class="text-center"> Password
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="p-1 rounded-lg bg-gray-200 dark:bg-gray-600 outline-none">
  </label>

  <button (click)="login()">Login</button>
  <a [routerLink]="['/account/create-account']" class="w-fit" >Create Account</a>
</div>
