<div>
    <div class="m-2 p-2 border-black border-2 rounded-md">

      <div class="flex items-end">
        <h3 class="text-lg">{{ post.title }}</h3>
        <span class="ml-4">{{ post.published_at | date: 'short'}}</span>
      </div>

      <div class="p-2">
        <button (click)="toggleDescription()">Description </button>
        <span *ngIf="!descriptionActive">&#8964;</span>
        <span *ngIf="descriptionActive">&#8963;</span>
        <p *ngIf="descriptionActive" [innerHTML]="post.description"></p>
      </div>


      <div class="flex gap-4">
        <button (click)="play(post)">Play</button>
        <p>{{post.duration}}</p>
        <button (click)="addToQueue(post)">Add to queue</button>
      </div>
    </div>
</div>
