<div *ngIf="playing != undefined" class="flex flex-col w-full justify-center bg-gray-400 dark:bg-gray-900">
  <div class="w-full flex justify-between p-1 px-3">
    <h2>{{playing.title}}</h2>
    <div *ngIf="queue.length > 0" class="w-64 truncate flex gap-4 cursor-pointer">
      <app-play-next-icon (click)="next()"></app-play-next-icon>
      {{queue[0].title}}
    </div>
    <app-close-icon (click)="clear()" class="cursor-pointer"></app-close-icon>
  </div>
  <audio [src]="playing.audio" controls autoplay></audio>
</div>
